<div id="container">
    <div class="header">
        <p>Quick transfer</p>
    </div>

    <div class="person-horizontal-list">
        <div class="person-card">
            <div class="avatar"></div>
            <div class="person-data"></div>
        </div>
        <div class="person-card">
            <div class="avatar"></div>
            <div class="person-data"></div>
        </div>
        <div class="person-card">
            <div class="avatar"></div>
            <div class="person-data"></div>
        </div>
        <div class="person-card">
            <div class="avatar"></div>
            <div class="person-data"></div>
        </div>
        <div class="person-card">
            <div class="avatar"></div>
            <div class="person-data"></div>
        </div>
        <div class="person-card">
            <div class="avatar"></div>
            <div class="person-data"></div>
        </div><div class="person-card">
            <div class="avatar"></div>
            <div class="person-data"></div>
        </div><div class="person-card">
            <div class="avatar"></div>
            <div class="person-data"></div>
        </div>
    </div>
</div>
