#container {
    width: 192px;
    height: 100%;
    background: #FFFFFF;
    border: 2px dashed rgba(176, 181, 196, 0.25);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#container img {
    width: 40px;
    height: 40px;
}

#container p {
    margin-top: 12px;
    font-family: Test Metric;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    text-align: center;
    color: #07163E;
}

.create-card-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #07163E55;
    z-index: 100;
}

.create-card-container form {
    width: 80%;
    height: fit-content;
    background: #FFFFFF;
    border: 2px dashed rgba(176, 181, 196, 0.25);
    border-radius: 12px;
    padding: 12px;
}

#input {
    width: 100%;
    height: 44px;
    padding: 0 8px;
    background: #fff;
    border: 1px solid #EBEDF2;
    border-radius: 12px;
    margin-bottom: 25px;
}

#input p {
    color: red;
}

#input input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
}

.create-card-container form .header {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    margin-bottom: 20px;
    
}

.create-card-container form .header p {
    font-family: Test Metric;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 100%;
    text-align: center;
    color: #07163E;
}

.create-card-container form .header img {
    width: 30px;
    height: 30px;
    transform: rotate(45deg);
    transform-origin: left top 0;
    cursor: pointer;
}

.btn {
    width: 100%;
    padding: 15px 25px;
    background: #00A870;
    border-radius: 4px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: -0.02em;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
}

.hide {
    display: none;
}