<div id="container">
    <div class="header">
        <p>{{ card!.flag }}</p>
        <img [src]="card!.flagImageUrl">
    </div>
    <h1 class="money">{{ card!.formatedCurrencyMoney() }}</h1>
    <div class="card-number">
        <p>{{ card!.formatedCardNumber() }}</p>
        <img src="/assets/images/copy.png" class="pointer" (click)="copyMessage()">
    </div>
    <div class="validity-date">
        <p>{{card!.expiringDate}}</p>
        <img src="/assets/images/menu.png" class="pointer">
    </div>
</div>