<div id="container">
    <div class="header">
        <p>{{ card!.name }}</p>
        <img [src]="card!.flagImage">
    </div>
    <h1 class="money">{{ formatedCurrencyMoney(card!.balance) }}</h1>
    <div class="card-number">
        <p>{{ formatedCardNumber(card!.cardNumber) }}</p>
        <img src="/assets/images/copy.png" class="pointer" (click)="copyMessage()">
    </div>
    <div class="validity-date">
        <p>{{card!.validateDate}}</p>
        <img src="/assets/images/menu.png" class="pointer">
    </div>
</div>