#app-main {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background: #F2F3F7;
    width: 100vw;
    height: 100vh;
    display: flex;
    overflow: hidden;
}

main {
    width: 100%;
    padding: 30px;
}

.sizedbox-34 {
    height: 34px;
}

.sizedbox-24 {
    height: 24px;
}

.sizedbox-h-24 {
    width: 24px;
}

#middle-data {
    width: calc(100% - 120px);
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}

.width-60 {
    width: 60%;
}

.width-40 {
    width: 40%;
}