<div id="container">
    <div id="info">
        <h1 class="title">
            <span class="subtitle">Good morning, {{user != null ? user.name.split(' ')[0] : ''}}</span><br>
            Dashboard
        </h1>

        <div id="search-container">
            <img src="/assets/images/search.png" width="20" height="20">
            <input type="text" placeholder="Search">
        </div>
    </div>
    <div id="settings">
        <img src="/assets/images/message.png" width="24" height="24">
        <div class="sizebox"></div>
        <img src="/assets/images/notification.png" width="24" height="24">
        <div class="user">
            <div class="avatar" style="background: url('{{ user!.image }}'); background-size: cover; background-position: center;"></div>
            <span class="name">{{ user != null ? user.name : '' }}</span>
        </div>
    </div>
</div>