<div id="container">
    <div id="nav-sidebar">
        <div>
            <a href="#">
                <div class="item">
                    <img src="/assets/images/logo.png" alt="logo">
                </div>
            </a>
        </div>
        <div class="nav-links">
            <a href="#">
                <div class="item enable">
                    <img src="/assets/images/dashboard.png" width="24">
                </div>
            </a>
            <a href="#">
                <div class="item">
                    <img src="/assets/images/transetion.png" width="24">
                </div>
            </a>
            <a href="#">
                <div class="item">
                    <img src="/assets/images/payments.png" width="24">
                </div>
            </a>
            <a href="#">
                <div class="item">
                    <img src="/assets/images/wallet.png" width="24">
                </div>
            </a>
            <a href="#">
                <div class="item">
                    <img src="/assets/images/setting.png" width="24">
                </div>
            </a>
        </div>
        <div class="log-out">
            <a href="#">
                <div class="item">
                    <img src="/assets/images/logout.png" alt="logo">
                </div>
            </a>
        </div>
    </div>
</div>