<div id="container">
    <div class="header">
        <p>Recent activities</p>
        <div class="options">
            <div class="datainfo">
                <div class="item">
                    <div class="item-color-green"></div>
                    Income
                </div>
                <div class="vertical-divider"></div>
                <div class="item">
                    <div class="item-color-red"></div>
                    Expense
                </div>
            </div>
            <div class="period-selector">
                <select (change)="changePeriod($event.target)">
                    <option [value]="0">Month</option>
                    <option [value]="1">Year</option>
                </select>
            </div>
        </div>
    </div>
    <div class="chartContainer">
        <canvas #chartID></canvas>
    </div>
</div>